### TEAM EPLE

In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt # plotting
import matplotlib
import os

Read train and test set

In [78]:
train = pd.read_csv('train.txt',sep='|')
test = pd.read_csv('test.txt',sep='|')

print (train.shape)
print (test.shape)

(3350601, 8)
(1147687, 8)

Check for missing values

In [28]:
train.isnull().any()

ID_Customer      False
Cod_Prod         False
Cod_Fecha        False
Socio_Demo_01    False
Socio_Demo_02    False
Socio_Demo_03    False
Socio_Demo_04    False
Socio_Demo_05    False
dtype: bool

Convert dates to datetime

In [79]:
train['Cod_Fecha'] = pd.to_datetime(train['Cod_Fecha'],format="%Y-%m-%d")
#train['Cod_Fecha'].unique()

Adding a column for month as customers might consider buying products in a certain month of the year

In [80]:
train['Month'] = pd.DatetimeIndex(train['Cod_Fecha']).month

Create dummy variables for the socio demographic variables

In [91]:
# Define new dataset
train_new = train

def create_dummy(train_new,var_name,cat_name,cat_list):
    dummies = pd.get_dummies(train_new[str(var_name)]).rename(columns=lambda x: str(cat_name) + str(cat_list[x-1]))
    train_new = pd.concat([train_new, dummies], axis=1)
    train_new = train_new.drop([var_name], axis=1)
    return train_new

In [92]:
# Socio_Demo_1: age intervals
train_new = create_dummy(train_new,'Socio_Demo_01','Age_',['U18','U30','U45','U65','O65'])
# Socia_Demo_2: number of years as customer
train_new = create_dummy(train_new,'Socio_Demo_02','Customer_Years_',['U1','U5','U10','U20','O20'])
# Socia_Demo_3: revenue
train_new = create_dummy(train_new,'Socio_Demo_03','Revenue_',['U6','U12','U24','U32','O32'])
# Socia_Demo_4: sex
train_new = create_dummy(train_new,'Socio_Demo_04','Sex_',['M','F'])
# Socia_Demo_5: working segment
train_new = create_dummy(train_new,'Socio_Demo_05','Segment_',['Private','Farmer','Trade','Self'])

In [93]:
train_new

,ID_Customer,Cod_Prod,Cod_Fecha,Month,Age_U18,Age_U30,Age_U45,Age_U65,Age_O65,Customer_Years_U1,...,Revenue_U12,Revenue_U24,Revenue_U32,Revenue_O32,Sex_M,Sex_F,Segment_Self,Segment_Private,Segment_Farmer,Segment_Trade
0,A0000001,601,2007-05-01,5,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
1,A0000001,704,2013-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
2,A0000001,2501,2006-03-01,3,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
3,A0000001,2503,2006-03-01,3,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
4,A0000001,1011,2011-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
5,A0000002,601,1998-06-01,6,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
6,A0000002,801,2006-02-01,2,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
7,A0000002,9992,2015-02-01,2,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
8,A0000002,301,1995-03-01,3,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
9,A0000003,601,1985-11-01,11,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
10,A0000003,301,2012-05-01,5,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
11,A0000003,2501,2011-12-01,12,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
12,A0000003,2503,2011-12-01,12,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
13,A0000003,201,2016-02-01,2,0,0,0,0,1,0,...,0,0,0,1,0,1,1,0,0,0
14,A0000004,601,2008-05-01,5,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
15,A0000004,2301,2016-05-01,5,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
16,A0000004,301,2008-10-01,10,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
17,A0000004,201,2014-12-01,12,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
18,A0000005,301,1984-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
19,A0000005,601,1984-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
20,A0000006,301,1996-10-01,10,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
21,A0000006,601,2012-11-01,11,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
22,A0000006,2205,2012-02-01,2,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
23,A0000006,9993,2011-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
24,A0000006,9991,2011-04-01,4,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
25,A0000006,2302,2015-05-01,5,0,0,0,0,1,0,...,0,1,0,0,1,0,1,0,0,0
26,A0000007,601,2012-08-01,8,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
27,A0000007,301,2012-08-01,8,0,0,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0
28,A0000008,1001,2014-03-01,3,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
29,A0000008,1020,2013-11-01,11,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3350571,A0676361,301,2016-07-01,7,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350572,A0676361,201,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350573,A0676361,801,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350574,A0676361,1001,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350575,A0676361,2205,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350576,A0676361,3401,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350577,A0676361,9992,2016-08-01,8,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350578,A0676361,1801,2016-10-01,10,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350579,A0676361,601,2016-06-01,6,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3350580,A0676362,601,2016-06-01,6,0,0,0,1,0,1,...,0,0,0,0,0,1,1,0,0,0
3350581,A0676363,2701,2016-08-01,8,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
3350582,A0676363,201,2016-08-01,8,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
3350583,A0676363,601,2016-07-01,7,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
3350584,A0676363,301,2016-08-01,8,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,1
3350585,A0676364,601,2016-08-01,8,1,0,0,0,0,1,...,0,0,0,0,1,0,1,0,0,0
3350586,A0676365,9991,2016-09-01,9,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3350587,A0676365,601,2016-08-01,8,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3350588,A0676365,201,2016-08-01,8,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3350589,A0676365,2301,2016-10-01,10,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3350590,A0676365,9993,2016-09-01,9,0,1,0,0,0,1,...,1,0,0,0,0,1,1,0,0,0
3350591,A0676366,601,2016-09-01,9,1,0,0,0,0,1,...,1,0,0,0,1,0,1,0,0,0
3350592,A0676367,601,2016-09-01,9,1,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
3350593,A0676367,2301,2016-09-01,9,1,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
3350594,A0676368,601,2016-09-01,9,1,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
3350595,A0676369,201,2015-07-01,7,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3350596,A0676369,2302,2015-10-01,10,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3350597,A0676369,601,2015-07-01,7,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3350598,A0676369,2205,2015-07-01,7,0,0,1,0,0,0,...,0,1,0,0,1,0,1,0,0,0
3350599,A0676370,601,2015-11-01,11,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,0
3350600,A0676370,201,2015-11-01,11,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,0